<div class="index-contents">
  <a href="#"><img src="assets/gifjoy-logo.png" width="160px" height="100px"></a>

  <img src="assets/keyboard.jpg" alt="サンプル" onmouseover="this.src='assets/keyboard.gif'" onmouseout="this.src='assets/keyboard.jpg'">
  
</div>