/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: #cce4dc;
}
.index-contents {
  width: 1280px;
}
.index-header {
  width: 1280px;
  text-align: center;
}
.index-content {
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0 10%;
  border-top: 5px dashed #fff;
}
.index-about-content-left, .index-experience-content-right, .signup, .login {
  text-align: center;
}
.index-about-content-right {
  padding-top: 20px;
  color: #E32D6A;
}
.index-experience-content-left {
  padding-top: 60px;
  padding-left: 150px;
  color: #E32D6A;
}



